*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background-color:  #2c3043;
}

.red{
    background-color: #fc6057;
}
.orange{
    background-color: #fd825c;
}
.yellow{
    background-color: #fda061;
}

.green{
    background-color: #01a787;

}
.sea-green{
    background-color: #1bc1a1;
}

.light-green{
    background-color: #34daba;
}


.parent{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 100px 200px;
    height: 70vh;

}
.child{
    border: 1px solid black;
    font-size: 3rem;
}